
.vicocomotest-success {
    color: green;
}

.vicocomotest-note {
    color: brown;
}

.vicocomotest-failure {
    color: red;
}

div.vicocomotest-content td {
    font-family:  monospace;
    white-space:  pre-wrap;
    padding-left: 1em;
}

