<html>
  <head>
    <title> Actix File Test </title>
  </head>
  <body>
        {{ #each this }}
    <br> type: {{ content_type }}
    <br> contents: {{ contents }}
        {{ /each }}
  </body>
</html>
