<html>
  <head>
    <title> test </title>
  </head>
  <body>
    {{> (partial) }}
    <div> {{ hej }} </div>
    <div> {{ i }} </div>
    {{ #if more }}
      <div> {{ more }} mer </div>
    {{ /if }}
    <div> {{{ root }}} </div>
    <div> sist </div>
  </body>
</html>

